<ion-view class="slider-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
     <button  class="button button-icon ion-person" ui-sref="app.profile"></button>
  </ion-nav-buttons>
  <ion-nav-title>

  </ion-nav-title>
  <ion-content scroll="true" overflow-scroll="true" class="iframe-wrapper">

    <img src="img/dch.jpg" width="100%">
<button type="button"class="button button-block" name="button" style="background:#144088;color:#fff;padding-left:10px;padding-right:10px;" ui-sref="app.cor">CORPORATIVO - LEÓN</button>
<button type="button"class="button button-block" name="button" style="background:#144088;color:#fff;padding-left:10px;padding-right:10px;"ui-sref="app.cor">HIDALGO- LEÓN</button>
<button type="button"class="button button-block" name="button" style="background:#144088;color:#fff;padding-left:10px;padding-right:10px;"ui-sref="app.cor">AZTECA- LEÓN</button>
<button type="button"class="button button-block" name="button" style="background:#144088;color:#fff;padding-left:10px;padding-right:10px;"ui-sref="app.cor">TORRES LANDA- LEÓN</button>
<button type="button"class="button button-block" name="button" style="background:#144088;color:#fff;padding-left:10px;padding-right:10px;"ui-sref="app.cor">TALLER DE ARMADO- LEÓN</button>
<button type="button"class="button button-block" name="button" style="background:#144088;color:#fff;padding-left:10px;padding-right:10px;"ui-sref="app.cor">CEDIS - LEÓN</button>

</ion-content>
</ion-view>
