<ion-view class="slider-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
     <button  class="button button-icon ion-person" ui-sref="app.profile"></button>
  </ion-nav-buttons>
  <ion-nav-title>

  </ion-nav-title>
  <ion-content scroll="true" overflow-scroll="true" class="iframe-wrapper">
    <img src="img/info.jpg" width="100%">

    <table width="100%">
    <tbody>
    <tr>
    <td style="background: #ba251e; color: #fff;" width="423">NOMBRE</td>
    <td style="background: #ba251e; color: #fff;" width="156">EXT</td>
    <td style="background: #ba251e; color: #fff;" width="156">DIRECTO</td>
    </tr>
    <tr>
    <td style="background: #ba251e; color: #fff;" width="423">RECEPCIÓN</td>
    <td style="background: #ba251e; color: #fff;" width="156"></td>
    <td style="background: #ba251e; color: #fff;" width="156"></td>
    </tr>
    <tr>
    <td width="423">SANDRA SÁNCHEZ</td>
    <td width="156">101-102-103</td>
    <td width="156">7-19-78-00</td>
    </tr>
    <tr>
    <td style="background: #ba251e; color: #fff;" width="423">GERENTE DE VENTAS</td>
    <td style="background: #ba251e; color: #fff;" width="156"></td>
    <td style="background: #ba251e; color: #fff;" width="156"></td>
    </tr>
    <tr>
    <td width="423">ING. EDUARDO ROCHA</td>
    <td width="156">108</td>
    <td width="156">7-19-78-08</td>
    </tr>
    <tr>
    <td width="423">ING. RAMIRO ROCHA</td>
    <td width="156">109</td>
    <td width="156">7-19-78-09</td>
    </tr>
    <tr>
    <td style="background: #ba251e; color: #fff;" width="423">SOPORTE DE VENTAS</td>
    <td style="background: #ba251e; color: #fff;" width="156"></td>
    <td style="background: #ba251e; color: #fff;" width="156"></td>
    </tr>
    <tr>
    <td width="423">LIC. PAULO MORALES</td>
    <td width="156">114</td>
    <td width="156">7-19-78-14</td>
    </tr>
    <tr>
    <td width="423">LIC. MÓNICA ZÁRATE</td>
    <td width="156">123</td>
    <td width="156">7-19-78-23</td>
    </tr>
    <tr>
    <td style="background: #ba251e; color: #fff;" width="423">JEFATURA DE INTELIGENCIA COMERCIAL</td>
    <td style="background: #ba251e; color: #fff;" width="156"></td>
    <td style="background: #ba251e; color: #fff;" width="156"></td>
    </tr>
    <tr>
    <td width="423">LIC. HERNÁN GÓMEZ</td>
    <td width="156">162</td>
    <td width="156">7-19-78-62</td>
    </tr>
    <tr>
    <td style="background: #ba251e; color: #fff;" width="423">ESPECIFICADOR DE MEDIA TENSION</td>
    <td style="background: #ba251e; color: #fff;" width="156"></td>
    <td style="background: #ba251e; color: #fff;" width="156"></td>
    </tr>
    <tr>
    <td width="423">ADRIÁN BRAVO</td>
    <td width="156">310</td>
    <td width="156">7-19-78-10</td>
    </tr>
    <tr>
    <td style="background: #ba251e; color: #fff;" width="423">GERENCIA DE PROFENAL S.A DE C.V</td>
    <td style="background: #ba251e; color: #fff;" width="156"></td>
    <td style="background: #ba251e; color: #fff;" width="156"></td>
    </tr>
    <tr>
    <td width="423">C.P. RENÉ ORTEGA</td>
    <td width="156">106</td>
    <td width="156">7-19-78-06</td>
    </tr>
    <tr>
    <td style="background: #ba251e; color: #fff;" width="423">COORDINACIÓN DE OPERACIÓN PROFENAL</td>
    <td style="background: #ba251e; color: #fff;" width="156"></td>
    <td style="background: #ba251e; color: #fff;" width="156"></td>
    </tr>
    <tr>
    <td width="423">LIC. EMMANUEL CONTRERAS</td>
    <td width="156">106</td>
    <td width="156">7-19-78-06</td>
    </tr>
    <tr>
    <td style="background: #ba251e; color: #fff;" width="423">GERENCIA DE COMPRAS</td>
    <td style="background: #ba251e; color: #fff;" width="156"></td>
    <td style="background: #ba251e; color: #fff;" width="156"></td>
    </tr>
    <tr>
    <td width="423">LIC. JUAN RODRÍGUEZ</td>
    <td width="156">110</td>
    <td width="156">7-19-78-10</td>
    </tr>
    <tr>
    <td style="background: #ba251e; color: #fff;" width="423">SOPORTE DE COMPRAS</td>
    <td style="background: #ba251e; color: #fff;" width="156"></td>
    <td style="background: #ba251e; color: #fff;" width="156"></td>
    </tr>
    <tr>
    <td width="423">LIC. SUSANA REYES</td>
    <td width="156">158</td>
    <td width="156">7-19-78-58</td>
    </tr>
    <tr>
    <td width="423">LIC. MARTHA COMPEÁN</td>
    <td width="156">104</td>
    <td width="156">7-19-78-04</td>
    </tr>
    <tr>
    <td width="423">ING. JOSÉ VARGAS</td>
    <td width="156">107</td>
    <td width="156">7-19-78-07</td>
    </tr>
    <tr>
    <td width="423">ING. MANUEL DURÁN</td>
    <td width="156">115</td>
    <td width="156">7-19-78-15</td>
    </tr>
    <tr>
    <td width="423">EDUARDO VARGAS</td>
    <td width="156">116</td>
    <td width="156">7-19-78-16</td>
    </tr>
    <tr>
    <td width="423">CÉSAR LÓPEZ</td>
    <td width="156">119</td>
    <td width="156">7-19-78-19</td>
    </tr>
    <tr>
    <td style="background: #ba251e; color: #fff;" width="423">GERENCIA DE MERCADOTECNIA</td>
    <td style="background: #ba251e; color: #fff;" width="156"></td>
    <td style="background: #ba251e; color: #fff;" width="156"></td>
    </tr>
    <tr>
    <td width="423">LIC. OCTAVIO RAMÍREZ</td>
    <td width="156">113</td>
    <td width="156">7-19-78-13</td>
    </tr>
    <tr>
    <td style="background: #ba251e; color: #fff;" width="423">DEPTO. DE MERCADOTECNIA</td>
    <td style="background: #ba251e; color: #fff;" width="156"></td>
    <td style="background: #ba251e; color: #fff;" width="156"></td>
    </tr>
    <tr>
    <td width="423">LUIS GABRIEL PERAZA</td>
    <td width="156">124</td>
    <td width="156">7-19-78-24</td>
    </tr>
    <tr>
    <td width="423">FRANCISCO CRESPO URIBE</td>
    <td width="156">124</td>
    <td width="156">7-19-78-24</td>
    </tr>
    <tr>
    <td width="423">LIC. ALEJANDRA REYES</td>
    <td width="156">111</td>
    <td width="156">7-19-78-11</td>
    </tr>
    <tr>
    <td style="background: #ba251e; color: #fff;" width="423">GERENCIA DE INGENIERIA Y PROYECTOS</td>
    <td style="background: #ba251e; color: #fff;" width="156"></td>
    <td style="background: #ba251e; color: #fff;" width="156"></td>
    </tr>
    <tr>
    <td width="423">ING. MARTÍN CRUZ HDEZ.</td>
    <td width="156">122</td>
    <td width="156">7-19-78-22</td>
    </tr>
    <tr>
    <td style="background: #ba251e; color: #fff;" width="423">SOPORTE A INGENIERÍA Y PROYECTOS</td>
    <td style="background: #ba251e; color: #fff;" width="156"></td>
    <td style="background: #ba251e; color: #fff;" width="156"></td>
    </tr>
    <tr>
    <td width="423">ING. MIGUEL ÁNGEL FLORES</td>
    <td width="156">118</td>
    <td width="156">719-78-18</td>
    </tr>
    <tr>
    <td width="423">ING.  CUAHUTEMOC HDEZ.</td>
    <td width="156">120</td>
    <td width="156">7-19-78-20</td>
    </tr>
    <tr>
    <td width="423">ING.  ADRIANA ZAMUDIO</td>
    <td width="156">117</td>
    <td width="156">7-19-78-17</td>
    </tr>
    <tr>
    <td width="423">ING.  JUAN JOSÉ ECHEVESTE</td>
    <td width="156">120</td>
    <td width="156">7-19-78-20</td>
    </tr>
    <tr>
    <td width="423">ING. EDGAR MORA</td>
    <td width="156">117</td>
    <td width="156">7-19-78-17</td>
    </tr>
    <tr>
    <td style="background: #ba251e; color: #fff;" width="423">DEPTO. DE SISTEMAS</td>
    <td style="background: #ba251e; color: #fff;" width="156"></td>
    <td style="background: #ba251e; color: #fff;" width="156"></td>
    </tr>
    <tr>
    <td width="423">ING. EDITH LUNA</td>
    <td width="156">314</td>
    <td width="156"></td>
    </tr>
    <tr>
    <td width="423">ING. JOSÉ PÉREZ</td>
    <td width="156">312</td>
    <td width="156">7-19-78-57</td>
    </tr>
    <tr>
    <td width="423">ING. RUTH PALACIOS</td>
    <td width="156">188</td>
    <td width="156">7-19-78-59</td>
    </tr>
    <tr>
    <td style="background: #ba251e; color: #fff;" width="423">OTROS</td>
    <td style="background: #ba251e; color: #fff;" width="156"></td>
    <td style="background: #ba251e; color: #fff;" width="156"></td>
    </tr>
    <tr>
    <td width="423">SALA DE JUNTAS P. BAJA</td>
    <td width="156">311</td>
    <td width="156"></td>
    </tr>
    <tr>
    <td width="423">SALA DE JUNTAS P. ALTA</td>
    <td width="156">132</td>
    <td width="156">7-19-78-32</td>
    </tr>
    <tr>
    <td width="423">SALA DE JUNTAS RECEPCIÓN</td>
    <td width="156">161</td>
    <td width="156">7-19-78-61</td>
    </tr>
    <tr>
    <td width="423">VIGILANCIA</td>
    <td width="156"></td>
    <td width="156"></td>
    </tr>
    <tr>
    <td width="423">ERNESTO  ÁVALOS</td>
    <td width="156">163</td>
    <td width="156">7-19-78-63</td>
    </tr>
    <tr>
    <td style="background: #ba251e; color: #fff;" width="423">GERENCIA DE PLANEACIÓN</td>
    <td style="background: #ba251e; color: #fff;" width="156"></td>
    <td style="background: #ba251e; color: #fff;" width="156"></td>
    </tr>
    <tr>
    <td width="423">C.P.  RAFAEL RIVERA</td>
    <td width="156">129</td>
    <td width="156">7-19-78-29</td>
    </tr>
    <tr>
    <td style="background: #ba251e; color: #fff;" width="423">JEFATURA DE ADMIN. DE PROYECTOS</td>
    <td style="background: #ba251e; color: #fff;" width="156"></td>
    <td style="background: #ba251e; color: #fff;" width="156"></td>
    </tr>
    <tr>
    <td width="423">ING. RAZIEL RODRÍGUEZ</td>
    <td width="156">127</td>
    <td width="156">7-19-78-27</td>
    </tr>
    <tr>
    <td style="background: #ba251e; color: #fff;" width="423">GERENCIA DE AUDITORÍA</td>
    <td style="background: #ba251e; color: #fff;" width="156"></td>
    <td style="background: #ba251e; color: #fff;" width="156"></td>
    </tr>
    <tr>
    <td width="423">C.P. HORTENSIA REYNOSO</td>
    <td width="156">131</td>
    <td width="156">7-19-78-31</td>
    </tr>
    <tr>
    <td style="background: #ba251e; color: #fff;" width="423">DEPTO. DE AUDITORÍA INTERNA</td>
    <td style="background: #ba251e; color: #fff;" width="156"></td>
    <td style="background: #ba251e; color: #fff;" width="156"></td>
    </tr>
    <tr>
    <td width="423">C.P. ANA MARIA ROCHA</td>
    <td width="156">142</td>
    <td width="156">7-19-78-42</td>
    </tr>
    <tr>
    <td width="423">NALLELY DURÁN</td>
    <td width="156">143</td>
    <td width="156">7-19-78-43</td>
    </tr>
    <tr>
    <td width="423">YOLANDA MONJARAS</td>
    <td width="156">144</td>
    <td width="156">7-19-78-44</td>
    </tr>
    <tr>
    <td width="423">ALMA ESPINOZA</td>
    <td width="156">145</td>
    <td width="156">7-19-78-45</td>
    </tr>
    <tr>
    <td width="423">C.P. LUZ ADRIANA ANTILLÓN</td>
    <td width="156">146</td>
    <td width="156">7-19-78-46</td>
    </tr>
    <tr>
    <td width="423">C.P. LUCY ARVIZU</td>
    <td width="156">134</td>
    <td width="156">7-19-78-34</td>
    </tr>
    <tr>
    <td style="background: #ba251e; color: #fff;" width="423">CONTRALOR PROFENAL</td>
    <td style="background: #ba251e; color: #fff;" width="156"></td>
    <td style="background: #ba251e; color: #fff;" width="156"></td>
    </tr>
    <tr>
    <td width="423">C.P.  GUSTAVO CABRERA</td>
    <td width="156">147</td>
    <td width="156">7-19-78-47</td>
    </tr>
    <tr>
    <td style="background: #ba251e; color: #fff;" width="423">DEPTO. CONTABILIDAD PROFENAL</td>
    <td style="background: #ba251e; color: #fff;" width="156"></td>
    <td style="background: #ba251e; color: #fff;" width="156"></td>
    </tr>
    <tr>
    <td width="423">T.C. MIGUEL MURILLO</td>
    <td width="156">313</td>
    <td width="156">7-19-78-13</td>
    </tr>
    <tr>
    <td width="423">C.P. ULISES LÓPEZ</td>
    <td width="156">125</td>
    <td width="156">7-19-78-47</td>
    </tr>
    <tr>
    <td style="background: #ba251e; color: #fff;" width="423">JEFATURA DE CONTALIBIDAD</td>
    <td style="background: #ba251e; color: #fff;" width="156"></td>
    <td style="background: #ba251e; color: #fff;" width="156"></td>
    </tr>
    <tr>
    <td width="423">C.P. ABEL DÍAZ</td>
    <td width="156">135</td>
    <td width="156">7-19-78-35</td>
    </tr>
    <tr>
    <td style="background: #ba251e; color: #fff;" width="423">DEPTO. CONTABILIDAD</td>
    <td style="background: #ba251e; color: #fff;" width="156"></td>
    <td style="background: #ba251e; color: #fff;" width="156"></td>
    </tr>
    <tr>
    <td width="423">C.P. JESÚS MORALES</td>
    <td width="156">139</td>
    <td width="156">7-19-78-39</td>
    </tr>
    <tr>
    <td width="423">C.P. ÁNGEL  MEDINA</td>
    <td width="156">140</td>
    <td width="156">7-19-78-40</td>
    </tr>
    <tr>
    <td style="background: #ba251e; color: #fff;" width="423">JEFATURA DE CRÉDITO Y COBRANZA</td>
    <td style="background: #ba251e; color: #fff;" width="156"></td>
    <td style="background: #ba251e; color: #fff;" width="156"></td>
    </tr>
    <tr>
    <td width="423">C.P. PAULO TORRES</td>
    <td width="156">151</td>
    <td width="156">719-78-51</td>
    </tr>
    <tr>
    <td style="background: #ba251e; color: #fff;" width="423">DEPTO. DE CRÉDITO Y COBRANZA</td>
    <td style="background: #ba251e; color: #fff;" width="156"></td>
    <td style="background: #ba251e; color: #fff;" width="156"></td>
    </tr>
    <tr>
    <td width="423">ROSALBA ZÚÑIGA GONZÁLEZ</td>
    <td width="156">154</td>
    <td width="156">7-19-78-54</td>
    </tr>
    <tr>
    <td width="423">T.C.  ALMA DELIA GÓMEZ</td>
    <td width="156">FAX 148</td>
    <td width="156">7-19-78-48</td>
    </tr>
    <tr>
    <td width="423">GABRIELA MELÉNDEZ</td>
    <td width="156">150</td>
    <td width="156">7-19-78-50</td>
    </tr>
    <tr>
    <td width="423">ELIZABETH GONZÁLEZ</td>
    <td width="156">145</td>
    <td width="156">7-19-78-45</td>
    </tr>
    <tr>
    <td width="423">T.A. GUADALUPE HERNÁNDEZ</td>
    <td width="156">138</td>
    <td width="156">7-19-78-38</td>
    </tr>
    <tr>
    <td style="background: #ba251e; color: #fff;" width="423">TESORERÍA</td>
    <td style="background: #ba251e; color: #fff;" width="156"></td>
    <td style="background: #ba251e; color: #fff;" width="156"></td>
    </tr>
    <tr>
    <td width="423">C.P.  MAGDALENA NAVARRO</td>
    <td width="156">149</td>
    <td width="156">7-19-78-49</td>
    </tr>
    <tr>
    <td width="423">JOSÉ LUIS CONTRERAS</td>
    <td width="156">119</td>
    <td width="156">7-19-78-19</td>
    </tr>
    <tr>
    <td style="background: #ba251e; color: #fff;" width="423">JEFATURA DCH</td>
    <td style="background: #ba251e; color: #fff;" width="156"></td>
    <td style="background: #ba251e; color: #fff;" width="156"></td>
    </tr>
    <tr>
    <td width="423">LIC. OMAR AZPEITIA</td>
    <td width="156">141</td>
    <td width="156">7-19-78-41</td>
    </tr>
    <tr>
    <td style="background: #ba251e; color: #fff;" width="423">DEPTO.  DCH</td>
    <td style="background: #ba251e; color: #fff;" width="156"></td>
    <td style="background: #ba251e; color: #fff;" width="156"></td>
    </tr>
    <tr>
    <td width="423">LIC. CECILIA BARCENAS</td>
    <td width="156">152</td>
    <td width="156">7-19-78-52</td>
    </tr>
    <tr>
    <td width="423">LIC. SILVIA GONZÁLEZ</td>
    <td width="156">152</td>
    <td width="156">7-19-78-52</td>
    </tr>
    <tr>
    <td width="423">LIC. CLAUDIA SERRANO</td>
    <td width="156">137</td>
    <td width="156">7-19-78-37</td>
    </tr>
    </tbody>
    </table>
</ion-content>
</ion-view>
