<ion-view class="forms-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
     <button  class="button button-icon ion-person" ui-sref="app.profile"></button>
  </ion-nav-buttons>
  <ion-nav-title>
  </ion-nav-title>
  <ion-content>
    <img src="img/exp.jpg" width="100%">
    <p>
En Elektron estamos abiertos a escucharte en todo momento, es por eso que colocamos un buzón para que nos cuentes si detectas algo en lo que podemos mejorar como equipo. Agradecemos tu confianza y aportación, ten por seguro que tendremos en cuenta tu opinión. ¡Juntos lograremos el crecimiento!</p>
    <ul class="list">

      <div class="item item-divider"></div>

      <label class="item item-input">
        <span class="input-label">Nombre (opcional):</span>
        <input type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Área a la que diriges tu comentario:</span>
        <input type="text">
      </label>

      <label class="item item-input item-floating-label">
        <span class="input-label">Commentario</span>
        <input type="tel" placeholder="commentario">
      </label>

        <button style="background:#ba251e;color:#fff;"class="button button-block">
          Enviar
        </button>
      </div>
    </ul>
  </ion-content>
</ion-view>
