<ion-view class="profile-view">
  <ion-nav-title>
    <span>Profile</span>
  </ion-nav-title>
  <ion-content>
    <div class="top-content row">
      <div class="profile-container">
        <div class="user-image-container">
          <pre-img ratio="_1_1" helper-class="rounded-image">
            <img class="user-image" ng-src="img/prof.jpg" spinner-on-load>
          </pre-img>
        </div>
        <div style="color:#fff;" class="user-name">Admin</div>
        <div style="color:#fff;text-align:left" class="">@admin<br>ÁREA:<br>PUESTO:<br>SUCURSAL:<br>CUMPLEAÑOS:<br></div>
      </div>
      <div class="user-background-image-outer">
        <div multi-bg="['img/probg.jpg']"></div>
        <!-- <div multi-bg="['https://s3.amazonaws.com/uifaces/faces/twitter/brynn/128.jpg']"></div> -->
      </div>
    </div>
    <div class="bottom-content">
      <table style="width: 100%; " border=1>
	<tr>

	<td colspan="2" style="width: 60%; text-align: center;">
			<h5 style="background: #000000; color: #ffffff; line-height: 1.8em; padding-top: 5px; text-align: center; vertical-align: middle;margin-top:0px;">Mi Perfil</h5>
		</td>
	<td colspan="2" style="width: 40%; text-align: center;">
			<h5 style="background: #000000; color: #ffffff; line-height: 1.8em; padding-top: 5px; text-align: center; vertical-align: middle;margin-top:0px;">Datos Laborales</h5>
	</td>
	</tr>
	<tr style="width: 100%;">
		<td style="width: 30%;">
			Nombre:
		</td>
		<td style="width: 30%;">
			admin		</td>
		<td style="width: 20%;">
			Fecha de Ingreso:
		</td>
		<td style="width: 20%;">
			2010-09-14 00:00:00		</td>
	</tr>
	<tr style="width: 100%;">
		<td style="width: 30%;">
			Área:
		</td>
		<td style="width: 30%;">
			uno		</td>
		<td style="width: 20%;">
			NSS:
		</td>
		<td style="width: 20%;">
			876543		</td>
	</tr>
	<tr style="width: 100%;">
		<td style="width: 30%;">
			Puesto:
		</td>
		<td style="width: 30%;">
			Administrador		</td>
		<td style="width: 20%;">
			Número de Nómina:
		</td>
		<td style="width: 20%;">
			00045678		</td>
	</tr>
		<tr style="width: 100%;">
		<td style="width: 30%;">
			Cumpleaños:
		</td>
		<td style="width: 30%;">
			12/12/93		</td>
		<td style="width: 20%;">
			RFC:
		</td>
		<td style="width: 20%;">
			STD567FKG		</td>
	</tr>
		<tr style="width: 100%;">
		<td colspan="2" style="width: 30%;">

		</td>
		<td style="width: 20%;">
			CURP:
		</td>
		<td style="width: 20%;">
			SST456789		</td>
	</tr>
	<tr>
	<td colspan="2" style="width: 60%; text-align: center;">
			<h5 style="background: #000000; color: #ffffff; line-height: 1.8em; padding-top: 5px; text-align: center; vertical-align: middle;">Trayectoria Profesional</h5>
		</td>
	<td colspan="2" style="width: 40%; text-align: center;">
			<h5 style="background: #000000; color: #ffffff; line-height: 1.8em; padding-top: 5px; text-align: center; vertical-align: middle;">Trayectoria Académica</h5>
	</td>
		<tr style="width: 100%;">

		<td colspan="2" style="width: 20%;">
			1.: Jefe de Almacen		</td>
		<td colspan="2" style="width: 20%;">
			1.: prueba		</td>
	</tr>
			<tr style="width: 100%;">

		<td colspan="2" style="width: 20%;">
			2.: Coordinador de sucursales		</td>

		<td colspan="2" style="width: 20%;">
			2.: prueba2		</td>
	</tr>
		<tr style="width: 100%;">

		<td colspan="2" style="width: 20%;">
			3.: Almacenista		</td>

		<td colspan="2" style="width: 20%;">
			3.: prueba3		</td>
	</tr>
	</tr>
		<tr style="width: 100%;">

		<td colspan="2" style="width: 20%;">
			4.: Al		</td>

		<td colspan="2" style="width: 20%;">
			4.: prueba4		</td>
	</tr>
	</tr>
		<tr style="width: 100%;">

		<td colspan="2" style="width: 20%;">
			5.: Al2		</td>

		<td colspan="2" style="width: 20%;">
			5.: prueba5		</td>
	</tr>
	</tr>
		<tr style="width: 100%;">

		<td colspan="2" style="width: 20%;">
			6.: Vacio		</td>

		<td colspan="2" style="width: 20%;">
			6.: prueba6		</td>
	</tr>
</table>
<table style="width: 100%; " border=1>
	<tr>
	<td colspan="2" style="width: 60%; text-align: center;">
			<h5 style="background: #000000; color: #ffffff; line-height: 1.8em; padding-top: 5px; text-align: center; vertical-align: middle;">Mis Cursos</h5>
		</td>
	<td colspan="2" style="width: 40%; text-align: center;">
			<h5 style="background: #000000; color: #ffffff; line-height: 1.8em; padding-top: 5px; text-align: center; vertical-align: middle;">Mi Pasaporte</h5>
	</td>
	</tr>
	<tr style="width: 100%;">

		<td colspan="2" style="width: 30%;">
			1.: Acomodo de Almacén		</td>

		<td colspan="2" style="width: 20%;">
			12,000		</td>
	</tr>
	<tr style="width: 100%;">

		<td  colspan="2" style="width: 30%;">
			2.: Seguridad e higiene		</td>
		<td colspan="2" style="width: 20%; text-align: center;">

		</td>

	</tr>
	<tr style="width: 100%;">

		<td colspan="2" style="width: 40%;">
			3.: 5 D\'s		</td>

		<td colspan="2" style="width: 20%;">

		</td>
	</tr>
</table>
<table style="width: 100%; " border=1>
	<tr>
	<td colspan="4" style="width: 60%; text-align: center;">
			<h5 style="background: #000000; color: #ffffff; line-height: 1.8em; padding-top: 5px; text-align: center; vertical-align: middle;">Actas Administrativas</h5>
		</td>

	</tr>
	<tr style="width: 100%;">

		<td colspan="4" style="width: 30%;">
			1.: Vacio1		</td>


	</tr>
	<tr style="width: 100%;">

		<td  colspan="4" style="width: 30%;">
			2.: Vacio2		</td>


	</tr>
	<tr style="width: 100%;">

		<td colspan="4" style="width: 40%;">
			3.: Vacio3		</td>


	</tr>
</table>
    </div>
  </ion-content>
</ion-view>
